.content-infos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  text-align: center;
  margin: 50px 0px 30px 50px;
}

.game-info {
  margin: 10px;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  line-height: 1.5;
}

.game-board {
  display: flex;
  flex-direction: row;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.text-config {
  margin: 20px;
}

.button-player {
  text-align: center;
  margin-top: 8px;
}

.button-player button {
  background: transparent;
  background: -webkit-linear-gradient(white, #38495a);
  border-radius: 10px;
  padding: 5px;
}

.nave-img {
  padding: 50px;
}

.millennium-falcon {
  position: absolute;
  left: 0;
  transform: translateX(-50%) rotate(0deg);
  animation: moveRotate 8s linear infinite;
}

@keyframes moveRotate {
  0% {
    left: 0;
    transform: translateX(-50%) rotate(0deg);
  }

  25% {
    left: 75%;
    transform: translateX(-50%) rotate(0deg);
  }

  50% {
    left: 100%;
    transform: translateX(-50%) rotate(180deg);
  }

  75% {
    left: 25%;
    transform: translateX(-50%) rotate(180deg);
  }

  100% {
    left: 0;
    transform: translateX(-50%) rotate(0deg);
  }
}

@media (max-width: 375) {
  .square {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 700px) {
  .content-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game {
    order: 2;
    margin: 0px;
  }

  .text-config {
    order: 1;
  }
}